body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  gap: 50px;
  position: relative;
}
.side1 {
  width: 250px;
  margin: 0 80px 10px 30px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  border-right: 1px solid lightgray;
  position: fixed;
}
.logo {
  margin-left: -15px;
}
.one,
.two,
.three,
.four,
.five,
.six {
  display: flex;
  align-items: center;
  gap: 25px;
  border: none;
  padding: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover,
.six:hover {
  background-color: #eee;
  border-radius: 10px;
}
p {
  font-size: 20px;
}
.bar {
  position: relative;
  top: 0;
  left: 400px;
}
aside {
  display: flex;
  flex-direction: column;
  position: absolute;
}
.top {
  display: flex;
  width: 800px;
  justify-content: space-around;
}
.section1 {
  width: 250px;
  height: 250px;
  margin-top: 50px;
  margin-right: 20px;
  border-radius: 50%;
  border: 3px solid rgb(170, 164, 164);
  text-align: center;
  background-color: #eee;
}
.Icon-Image {
  width: 50%;
  margin-top: 60px;
}
.content {
  margin-top: 30px;
}
.c1 {
  display: flex;
  gap: 20px;
}
.btn1 {
  border: none;

  background-color: rgb(100, 150, 243);
  font-size: 15px;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.btn2 {
  border: none;
  background-color: lightgray;
  font-size: 15px;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.info {
  display: flex;
  gap: 20px;
}
#para {
  width: 400px;
  font-size: 17px;
  color: rgb(111, 113, 116);
}
.highlight {
  width: 700px;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.img1 {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgb(211, 159, 159);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.head {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: -20px;
  margin-bottom: 20px;
  color: rgb(73, 72, 72);
  cursor: pointer;
}
.f1 {
  width: 800px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.img2 {
  width: 290px;
  height: 350px;
}
